////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// INICIO MENU SUPERIOR
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.menu.superior {
  // Corrigir container
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: transparent;
  border-top: 1px solid #d5d5db66;
  position: relative;

  a#link-ver-todos {
    text-decoration: underline;
    color: $branco;
    font-size: 12px;
    padding: 20px;
    margin-top: 35px;
  }

  #mega-menu {
    display: none;

    .ul-mega-menu {
      background-color: white;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 2px 0px 3px lightgray;
      height: 600px;

      li {
        width: 200px;
        line-height: 45px;
        font-size: 12px;
        font-weight: 600;

        &:hover {
          background-color: #ebdfdb !important;
          border-left: 2px solid $corPrimaria;
        }
      }
    }

    .ul-um {
      border-radius: 0px 0px 0px 10px !important;
    }

    .ul-dois {
      border-radius: 0px !important;
    }

    .ul-tres {
      border-radius: 0px 0px 10px 0px !important;
    }
  }

  // Itens NAV
  .nivel-um {
    height: 48px;
    display: block;
    z-index: 100;

    .categoria-id-18037012 a {
      cursor: no-drop;
      pointer-events: none;
    }

    > li {
      border: none;
      z-index: 110;
      &:hover strong {
        color: #fff;
      }

      strong {
        font-size: 16px;
        font-weight: 600;
        color: $fonteCabecalho;
        text-transform: capitalize;
      }

      i {
        display: none;
      }
    }
  }

  .nivel-um > :nth-last-child(1) strong {
    color: $corPrimaria;
  }

  & > ul > li > a > strong {
    font-family: $fonteBase;
  }

  ul.nivel-um li {
    padding: 0 20px;
  }

  ul.nivel-dois {
    background-color: $fundoMenuNivelDois;
    border-radius: 0px 0px 10px 10px;
    min-width: 200px;
    box-shadow: none;

    li {
      padding: 0px;
      border: none;

      a {
        line-height: 45px;
        font-size: 14px;
        font-weight: bold;
        padding: 0px 20px;
        color: $fonteMenuNivelDois;
      }

      &:hover {
        background-color: $branco !important;
        border-left: 2px solid $corPrimaria;

        a {
          color: $hoverMenuNivelDois;
        }
      }
    }
  }

  ul.nivel-um li.categoria-id-18036994:hover {
    background-color: $corLiHover;
    strong {
      color: $branco !important;
    }
  }
  ul.nivel-um li.categoria-id-17803827:hover {
    background-color: $corSecundaria;
    strong {
      color: $branco !important;
    }
  }
  ul.nivel-um li.categoria-id-18036996:hover {
    background-color: #f95e41;
    strong {
      color: $branco !important;
    }
  }
  ul.nivel-um li.categoria-id-17804230:hover {
    background-color: #fbb523;
    strong {
      color: $branco !important;
    }
  }
  ul.nivel-um li.categoria-id-18037007:hover {
    background-color: #f82364;
    strong {
      color: $branco !important;
    }
  }
  ul.nivel-um li.categoria-id-18037010:hover {
    background-color: #b61c36;
    strong {
      color: $branco !important;
    }
  }
  ul.nivel-um li.categoria-id-18037012:hover {
    background-color: #8885e7;
    strong {
      color: $branco !important;
    }
  }

  #mega-menu-conteiner {
    position: absolute;
    top: 50px;

    li {
      line-height: 40px;
      font-weight: 500;

      &:hover {
        background: #ebdfdb;
        border-left: 2px solid $corPrimaria;
      }
    }
  }

  @media (max-width: 1024) {
    display: none;
  }
}
