.box-whats {
  position: fixed;
  z-index: 9999;
  width: 165px;
  height: 115px;
  bottom: 120px;
  right: 59px;
  @media (max-width: 991px) {
    height: 90px;
  }

  .content-whats {
    height: 100%;
    ul {
      margin: 0;
      height: 100%;
      li {
        text-decoration: none;
        list-style-type: none !important;
        height: 50%;
        a {
          height: 100%;
          background: #3cb558;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          margin: 10px 0 0px 0;
          &:hover {
            background: #52F378;
          }
        }
      }
    }
  }
}
a#whats {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 10000;
  width: 55px;
  cursor: pointer;
  &:hover{
    filter: brightness(1.2);
  }
  @media (max-width: 991px) {
    width: 45px;
  }
}
