#listagemProdutos {

    .titulo-categoria {
        color: $extremelyDark;
    }

    .subtitulo-carrossel {
        font-size  : 16px;
        color      : #0C0833B3;
        line-height: 30px;
        opacity    : 0.6;
    }
}