.pagina-inicial {
  .mini-banner .modulo .flexslider ul.slides li {
    position: relative;

    div.midBanner-text {
      position: absolute;
      top: 35px;
      left: 10%;

      h4 {
        color: $branco;
        width: 100px;
      }

      a {
        position: relative;
        top: 20px;
        color: $branco;
        border: 1px solid $branco;
        border-radius: 7px;
        transition: 0.3s;
        cursor: pointer;
        padding: 10px 20px;

        &:hover {
          background-color: $branco;
          color: #545454;
          border: 1px solid $branco;
          transition: 0.3s;
        }
      }
    }
  }

  // animacao mini banner
  .mini-banner .modulo .flexslider ul.slides li a img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .mini-banner .modulo .flexslider ul.slides li a:hover img {
    transform: scale(1.1);
    transition: 0.3s;
  }

  // Carrossel arrows
  #vitrine-lancamento,
  #vitrine-destaque {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      // top: 27%;
      transform: rotate(0deg);

      &::after {
        content: "";
      }
    }

    .swiper-button-prev {
      left: -10px;
      img {
        @media (max-width: 540px) {
          height: 20px;
        }
      }
      @media (max-width: 540px) {
        left: -6px;
      }
    }

    .swiper-button-next {
      right: -10px;
      img {
        @media (max-width: 540px) {
          height: 20px;
        }
      }
      @media (max-width: 540px) {
        right: -6px;
      }
    }
  }

  // Carrossel arrows
  #vitrine-mas-vendido,
  #vitrine-destaque {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
      // margin-top: 100px;
      transform: rotate(0deg);

      &::after {
        content: "";
      }
    }

    .swiper-button-prev {
      left: -10px;
      img {
        @media (max-width: 540px) {
          height: 20px;
        }
      }
      @media (max-width: 540px) {
        left: -6px;
      }
    }

    .swiper-button-next {
      right: -10px;
      img {
        @media (max-width: 540px) {
          height: 20px;
        }
      }
      @media (max-width: 540px) {
        right: -6px;
      }
    }
  }

  #full-banner-mobile {
    display: none;
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // INICIO STRIPE BANNER
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  #stripe-banner {
    margin-top: 50px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 40px 0px;

    #div-mobile-1 {
      display: flex;
      justify-content: space-around;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid lightgray;
        width: 15%;
        min-width: 300px;
        @media (max-width: 540px) {
          justify-content: flex-start;
        }

        & > div {
          margin-left: 21px;
        }
      }

      & > div:first-child {
        border-left: none;
        @media (max-width: 540px) {
          justify-content: end;
        }
      }
    }

    #div-mobile-2 {
      display: flex;
      justify-content: space-around;

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left: 1px solid lightgray;
        width: 15%;
        min-width: 300px;

        & > div {
          margin-left: 21px;
        }
      }
      & > div:last-child {
        @media (max-width: 540px) {
          justify-content: flex-start;
        }
      }
    }

    @media screen and (max-width: 425px) {
      position: relative;
      left: -15px;
    }
  }

  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // FIM STRIPE BANNER
  ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  #corpo {
    .borda-principal {
      border-color: transparent;
    }

    .titulo-categoria {
      text-align: center;
      transition: none;
      font-size: $tamanhoTituloCategoria;
      padding-bottom: 10px;

      // RESET LI
      &:hover {
        background: transparent;
        padding-left: 0px;
      }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // INICIO BANNER DESTAQUES
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    #banner-destaques {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      justify-content: center;

      a {
        position: relative;
        width: 500px;
        margin: 15px 15px;

        img {
          object-fit: cover;
          max-width: 99%;
          transition: all 0.1s linear;
        }

        .destaques-banners-text {
          position: absolute;
          top: 145px;
          left: 25px;

          h4 {
            font-size: 24px;
            color: $branco;
            font-family: $fonteBase;

            @media (max-width: 480px) {
              font-size: 18px;
            }
          }

          a {
            position: relative;
            top: 30px;
            left: -18px;
            padding: 7px 25px;
            border: 1px solid $branco;
            border-radius: 10px;
            color: $branco;
            font-family: $fonteBase;
            font-weight: 700;
            &:hover {
              border: 1px solid $branco;
              background-color: $branco;
              color: #545454;
              transition: 0.3s;
            }
            transition: 0.3s;

            @media (max-width: 480px) {
              font-size: 14px;
            }
          }

          @media (max-width: 480px) {
            top: 70px;
          }
        }

        &:hover img {
          //   max-width: 100%;
          //   max-height: 100%;
          transform: scale(1.01);
        }
      }
    }

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // INICIO SECAO SAIBA MAIS
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    #secao-saiba-mais {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 80px;

      div {
        width: 450px;
        display: flex;
        flex-direction: column;
      }

      h2 {
        font-size: 40px;
        text-align: left;
        margin-top: 20px;
      }

      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: normal;
        margin-top: 30px !important;
        opacity: 0.8;
      }

      img {
        max-width: auto;
        max-height: 100%;
      }

      button {
        font-family: $fonteBase;
        font-size: 14px;
        border: 1px solid $corPrimaria;
        border-radius: 10px;
        padding: 12px 30px;
        margin-top: 40px;
        background: transparent;
        font-weight: bold;
        width: 145px;
        color: $preto;
        transition: 0.3s;

        &:hover {
          background: $corPrimaria;
          border: 1px solid $corPrimaria;
          transition: 0.3s;
          color: $branco;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .menu.superior ul.nivel-um {
    display: none !important;
  }

  #stripe-banner {
    flex-direction: column;
    padding: 0px 20px;

    #div-mobile-1 {
      & > div:nth-of-type(1) {
        border-left: 1px solid lightgray;
        min-width: 180px !important;

        img {
          margin-left: 16px;
          width: 20px;
          @media screen and (max-width: 768px) {
            margin-left: -5px;
          }

          @media screen and (max-width: 480px) {
            margin-left: -16px;
          }
        }

        & > div {
          margin-left: 10px;
          padding: 10px;
          font-size: 14px;
        }
      }

      & > div:nth-of-type(2) {
        border-left: 1px solid lightgray;
        min-width: 180px !important;

        img {
          margin-left: 16px;
          width: 20px;
          @media screen and (max-width: 768px) {
            margin-left: 0px;
          }

          @media screen and (max-width: 480px) {
            margin-left: 10px;
          }
        }

        & > div {
          margin-left: 10px;
          padding: 10px;
          font-size: 14px;
        }
      }

      & > div:first-child {
        border-left: none;
      }
    }

    #div-mobile-2 {
      border-top: 1px solid lightgray;

      & > div:nth-of-type(1) {
        border-left: 1px solid lightgray;
        min-width: 180px !important;

        img {
          margin-left: 16px;
          width: 20px;
          @media screen and (max-width: 768px) {
            margin-left: -5px;
          }

          @media screen and (max-width: 480px) {
            margin-left: 15px;
          }
        }

        & > div {
          margin-left: 10px;
          padding: 10px;
          font-size: 14px;
        }
      }

      & > div:nth-of-type(2) {
        border-left: 1px solid lightgray;
        min-width: 180px !important;

        img {
          margin-left: 16px;
          width: 20px;
          @media screen and (max-width: 768px) {
            margin-left: 36px;
          }

          @media screen and (max-width: 480px) {
            margin-left: 5px;
            width: 32px;
          }
        }

        & > div {
          margin-left: 10px;
          padding: 10px;
          font-size: 14px;
        }
      }

      & > div:first-child {
        border-left: none;
      }
    }
  }

  .pagina-inicial #corpo {
    #secao-saiba-mais {
      flex-direction: column-reverse;

      h2 {
        font-size: 22px;
      }

      div {
        width: 100%;
      }

      p {
        font-size: 14px;
        margin-top: 10px !important;
      }

      a {
        text-align: center;
        color: #007ccb;
      }
    }

    .banner-destaque-inferior {
      .imagem-destaque-inferior {
        width: 100%;
        margin-top: 50px;
      }

      button {
        font-size: 11px;
        padding: 5px 5px;
        width: 95px;
        top: 35%;
        right: 13%;
      }

      div {
        top: 20%;
        left: 65%;

        p {
          font-size: 18px;
          line-height: 12px;
        }

        strong {
          font-size: 22px;
          color: $branco;
          line-height: 20px;
        }

        a {
          width: 150px;
          font-size: 14px;
          padding: 10px 20px;
        }

        @media (max-width: 540px) {
          left: 50%;
        }

        @media (max-width: 320px) {
          left: 30%;
        }
      }
    }
  }
}

// Banner mobile
@media (max-width: 640px) {
  #full-banner {
    display: none;
  }

  #full-banner-mobile {
    display: block !important;

    img {
      // width: 640px;
      position: relative;
      // top: -65px;
    }
  }
}

@media (max-width: 425px) {
  #full-banner {
    display: none;
  }

  #full-banner-mobile {
    display: block !important;

    img {
      // width: 355px;
      position: relative;
      // margin-left:  10px;
      // top: -150px;
      // height: 100vh;
    }
  }
}

// TEMP

.footer-newsletter-button {
  display: none;
}

.fancybox-wrap.fancybox-desktop.fancybox-type-html.modal-login-content.fancybox-opened {
  width: 50% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  .fancybox-skin {
    width: 100% !important;
    height: 220px;

    .fancybox-outer {
      height: 165px !important;
    }
    .fancybox-inner {
      width: 100% !important;
      height: 100% !important;

      input[type="text"] {
        height: 40px !important;
      }

      .submit-email.botao.principal.grande {
        height: 40px !important;
        background-color: $corPrimaria !important;
        color: $branco;

        display: flex;
        justify-content: center;
        align-items: center;

        right: 30px !important;

        border-radius: 8px !important;

        line-height: 30px !important;

        max-width: 110px !important;
        min-width: 110px !important;
      }

      .newsletter-cadastro button {
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      span.titulo {
        line-height: 30px;
      }
    }
  }

  @media (max-width: 580px) {
    width: 90% !important;
  }
}
article .countdown {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border: 2px solid $corPrimaria;
  border-radius: 5px;
  padding: 2px 1px;
  order: 1;

  // position: absolute;
  // bottom: 17px;

  p {
    font-family: $fonteBase;
    margin: 0 !important;
    font-size: 14px;

    font-weight: 700;
    color: black !important;
  }
  img {
    width: 123px;
    margin-top: 3px;
  }
}
