.pagina-conta.pagina-minha-conta,
.pagina-pedido,
.pagina-conta-endereco {
  .caixa-dados.outros-enderecos fieldset a {
    float: left;
  }

  // Menu lateral esquerdo
  .conta-menu {
    box-shadow: none;
    border: none;
    padding-top: 0;

    .nome-usuario {
      i {
        display: none;
      }

      &::before {
        content: "Bem vindo(a)";
        text-align: left;
        font: normal normal normal 12px/21px $fonteBase;
        letter-spacing: 0px;
        color: $extremelyDark;
      }

      display: flex;
      flex-direction: column;
      text-align: left;
      font: normal normal bold 14px/21px $fonteBase;
      letter-spacing: 0px;
      color: $extremelyDark;
      border: 1px solid $corPrimaria;
      border-radius: 10px;
      padding: 10px 15px;
    }

    .menu-simples {
      i.icon-user {
        &::before {
          content: $iconMinhaConta;
        }
      }

      i.icon-logout {
        &::before {
          content: $iconLogout;
        }
      }

      i {
        width: 45px;
      }

      i.icon-unlock-alt {
        &::before {
          content: $iconAlterarSenha;
        }
      }

      i.icon-list-alt {
        &::before {
          content: $iconMeusPedidos;
        }
      }

      i.icon-star {
        &::before {
          content: $iconListaDesejos;
        }
      }

      li.divisor {
        display: none;
      }

      li {
        a {
          padding: 15px;
          background: none;
          border-radius: 10px;
          font: normal normal bold 14px/13px $fonteBase;
          letter-spacing: 0px;
          color: #292929;
          opacity: 1;
          transition: all 0.3s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:hover {
            background: $corSecundaria;
            color: white;

            i {
              &::before {
                filter: brightness(0) saturate(100%) invert(100%) sepia(40%)
                  saturate(2%) hue-rotate(165deg) brightness(103%)
                  contrast(101%) !important;
              }
            }
          }
        }
      }
    }
  }

  .abas-conteudo.borda-alpha {
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .abas-conteudo.borda-alpha > div {
    border: none;
    box-shadow: none;
    padding: 0;
  }

  ul.abas-conta.borda-alpha {
    display: none;
  }

  .abas-conta li.active a {
    background-color: $corSecundaria;
  }

  .abas-conta li a {
    background-color: $corPrimaria;
  }

  h3.titulo small {
    display: none;
  }

  .caixa-dados:not(.outros-enderecos) h3.titulo,
  .cabecalho-interno h1.titulo {
    border: none;
    font: normal normal bold 30px/46px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
    margin-bottom: 30px;
  }

  .caixa-dados > .row-fluid > div {
    width: 100%;
    margin: 0;
  }

  ul.caixa-info,
  .caixa-sombreada {
    box-shadow: none;
    background: none;
    border: 1px solid $borda;
    border-radius: 10px;
    padding: 20px;
  }

  ul.caixa-info > li > b {
    font: normal normal bold 14px/30px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  ul.caixa-info > li > span {
    font: normal normal normal 14px/30px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  .caixa-dados ul li {
    margin: 0;
  }

  .caixa-dados legend,
  h3.titulo,
  h1.titulo,
  .tipo-cadastro legend,
  .dados-pessoais legend,
  .caixa-sombreada legend {
    font: normal normal bold 18px/27px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .caixa-dados.outros-enderecos h3.titulo {
    display: none;
  }

  fieldset legend i.icon-group::before {
    content: $iconMinhaConta;
  }

  .caixa-dados fieldset {
    margin-bottom: 50px;
  }

  fieldset legend i.icon-list::before {
    content: $iconMinhaConta;
  }

  .caixa-dados fieldset legend i.icon-map-marker::before,
  .dados-pessoais fieldset legend i.icon-map-marker::before,
  .caixa-sombreada fieldset legend i.icon-map-marker::before {
    content: $iconEndereco;
  }

  .caixa-dados fieldset .acao-editar,
  .acao-editar .span4 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }

  .caixa-dados fieldset .acao-editar a,
  .botao {
    font: normal normal bold 12px/18px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
    background: none;
    border: 1px solid $corSecundaria;
    border-radius: 10px;
    text-shadow: none;
    padding: 12px 22px;
    margin-right: 20px;
  }

  .caixa-dados fieldset .acao-editar a i {
    display: none;
  }

  .caixa-dados.outros-enderecos fieldset legend a i.icon-plus {
    display: none;
  }

  .caixa-dados.outros-enderecos fieldset a {
    font: normal normal bold 12px/18px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    border: 1px solid $corSecundaria;
    border-radius: 10px;
    text-shadow: none;
    padding: 12px 22px;
    text-align: center;
    align-items: center;
    display: flex;
  }
  .caixa-dados {
    legend {
      @media (max-width: 580px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .formulario-editar-cliente,
  .form-horizontal {
    h3.titulo,
    .cabecalho-interno h1.titulo {
      border: none;
      font: normal normal bold 30px/46px $fonteBase;
      letter-spacing: 0px;
      color: #292929;
      opacity: 1;
      margin-bottom: 30px;

      small {
        display: none;
      }
    }

    .cabecalho-interno h1 {
      font-size: 30px !important;

      small {
        display: none;
      }
    }

    input {
      border: 2px solid $corPrimaria;
      border-radius: 10px;
      box-shadow: none;
      height: 50px;
      //width: 330px;
      font-family: $fonteBase;
      color: #292929;
      @media (max-width: 991px) {
        width: 100%;
      }
    }

    select {
      border: 2px solid $corPrimaria;
      padding: 20px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 992px) {
  .pagina-minha-conta {
    .acao-editar {
      margin-top: 7px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .pagina-conta.pagina-minha-conta ul.abas-conta.borda-alpha {
    display: block;
    clear: right;
    float: left;
    width: 100%;
    padding-bottom: 20px;
  }
  .pagina-conta.pagina-minha-conta h3.titulo {
    display: block;
  }
}
