.pagina-pedido-listar {
  i {
    // filter: invert(53%) sepia(77%) saturate(1120%) hue-rotate(330deg) brightness(98%) contrast(91%);
  }

  // Menu lateral esquerdo
  .conta-menu {
    box-shadow: none;
    border: none;
    padding-top: 0;

    .nome-usuario {
      i {
        display: none;
      }

      &::before {
        content: "Bem vindo(a)";
        text-align: left;
        font: normal normal normal 12px/21px $fonteBase;
        letter-spacing: 0px;
        color: #25262c;
      }

      display: flex;
      flex-direction: column;
      text-align: left;
      font: normal normal bold 14px/21px $fonteBase;
      letter-spacing: 0px;
      color: #25262c;
      border: 1px solid $corPrimaria;
      border-radius: 10px;
      padding: 10px 15px;
    }

    .menu-simples {
      i.icon-user {
        &::before {
          content: $iconMinhaConta;
        }
      }

      i {
        width: 45px;
      }

      i.icon-unlock-alt {
        &::before {
          content: $iconAlterarSenha;
        }
      }

      i.icon-list-alt {
        &::before {
          content: $iconMeusPedidos;
        }
      }

      i.icon-logout {
        &::before {
          content: $iconLogout;
        }
      }

      i.icon-star {
        &::before {
          content: $iconListaDesejos;
        }
      }

      li.divisor {
        display: none;
      }

      li {
        a {
          padding: 15px;
          background: none;
          border-radius: 10px;
          font: normal normal bold 14px/13px $fonteBase;
          letter-spacing: 0px;
          color: #292929;
          opacity: 1;
          transition: all 0.3s ease-in-out;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:hover {
            background: $corSecundaria;
            color: white;
            i {
              &::before {
                filter: brightness(0) saturate(100%) invert(100%) sepia(40%)
                  saturate(2%) hue-rotate(165deg) brightness(103%)
                  contrast(101%) !important;
              }
            }
          }
        }
      }
    }
  }

  .abas-conteudo.borda-alpha {
    border: none;
    box-shadow: none;
    padding: 0;

    > div {
      border: none;
      box-shadow: none;
      padding: 0;
    }

    .caixa-dados {
      &:not(.outros-enderecos) {
        h3.titulo {
          //display: none;
        }
      }
    }

    > h3.titulo {
      border: none;
      font: normal normal bold 30px/46px $fonteBase;
      letter-spacing: 0px;
      color: #292929;
      opacity: 1;
      margin-bottom: 30px;
      margin-top: 0;

      small {
        display: none;
      }
    }
  }

  ul.abas-conta.borda-alpha {
    display: none;
  }

  .caixa-dados a.botao.pequeno.principal {
    font: normal normal bold 12px/18px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
    background: none;
    border: 1px solid #da4d2b;
    border-radius: 10px;
    text-shadow: none;
    padding: 12px 16px;
  }

  .caixa-dados:nth-of-type(2) h3.titulo small {
    display: none;
  }

  .caixa-dados:nth-of-type(2) h3.titulo {
    border: none;
    font: normal normal bold 18px/27px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    margin-bottom: 25px;
  }

  .caixa-dados:first-of-type {
    padding-bottom: 40px !important;
    border-bottom: 1px solid $corPrimaria !important;
  }

  .caixa-dados:nth-of-type(2) {
    padding-top: 40px !important;
  }

  .caixa-dados legend i {
    display: none;
  }

  .caixa-dados legend {
    font: normal normal bold 18px/27px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  ul.caixa-info {
    background: none;
    box-shadow: none;
    border: 1px solid $corPrimaria;
    border-radius: 10px;
  }

  .caixa-info li b:first-child {
    font: normal normal bold 14px/30px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  .caixa-info li,
  .caixa-info li b {
    font: normal normal normal 14px/30px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  a.botao.pequeno.principal {
    font: normal normal bold 12px/18px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  .abas-conteudo.borda-alpha .caixa-dados:first-of-type > h3.titulo {
    display: none;
  }

  form#formFiltroPedido > div:last-child {
    display: flex;
    align-items: flex-end;
  }

  form#formFiltroPedido > div > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  form#formFiltroPedido > div > label #id_numero_pedido {
    width: 80%;
    height: 50px;
    background: none;
    box-shadow: none;
    border: 2px solid $corPrimaria;
    border-radius: 10px;
    font: normal normal normal 16px/25px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  form#formFiltroPedido {
    display: flex;
    align-items: flex-end;
    border: none;
  }

  select#id_mes,
  select#id_ano {
    width: 150px;
    height: 50px;
    border: 2px solid $corPrimaria;
    border-radius: 10px;
    box-shadow: none;
    font: normal normal normal 16px/25px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
  }

  form#formFiltroPedido > div:last-child > label {
  }

  .buscar-pedidos .botao {
    width: 100%;
    height: 50px;
    text-align: center;
    text-transform: capitalize;
    font: normal normal bold 14px/21px $fonteBase;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: none;
    background: $corPrimaria 0% 0% no-repeat padding-box;
    border-radius: 10px;
  }

  .buscar-pedidos .botao i {
    display: none;
  }

  form#formFiltroPedido {
  }

  @media (max-width: 991px) {
    form#formFiltroPedido {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    input#id_numero_pedido {
      width: 100% !important;
    }

    form#formFiltroPedido > div:last-child {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    form#formFiltroPedido > div:last-child > label {
      width: 49%;
      margin: 0;
    }

    form#formFiltroPedido > div:last-child > label select {
      width: 100%;
    }

    .secao-principal .coluna {
      display: none;
    }

    .secao-principal .conteudo {
      margin: 0 auto !important;
    }

    .secao-principal {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  form#formFiltroPedido + div > h4.titulo {
    font: normal normal bold 18px/27px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    margin-bottom: 25px;
  }

  form#formFiltroPedido + div > div.caixa-sombreada {
    box-shadow: none;
  }

  table.table.tabela-pedidos {
    border-collapse: separate;
    border: 1px solid $corPrimaria;
    border-radius: 10px;
  }

  th.span3.hidden-phone-portrait {
  }

  table.table.tabela-pedidos * {
    border: none;
  }

  table.table.tabela-pedidos tr td {
    border-top: 1px solid $corPrimaria !important;
  }

  table.table.tabela-pedidos thead tr th h5 {
    font: normal normal 500 12px/18px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    text-transform: uppercase;
    opacity: 0.5;
  }

  table.table.tabela-pedidos tr td:nth-child(1) a b {
    font: normal normal bold 14px/51px $fonteBase;
    letter-spacing: 0px;
    color: $corPrimaria;
  }

  table.table.tabela-pedidos tr td:nth-child(2) span {
    font: normal normal normal 14px/24px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
  }

  table.table.tabela-pedidos tr td:nth-child(3) b {
    font: normal normal bold 14px/16px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
  }

  table.table.tabela-pedidos tr td:nth-child(4) span {
    font: normal normal bold 14px/51px $fonteBase;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
  }
}
