.pagina-pedido-finalizado {
  .cor-secundaria {
    color: $fonteCabecalho;
  }

  .cor-principal {
    color: $fonteCabecalho;
  }

  .botao {
    color: $fonteCabecalho;
    i {
      color: $fonteCabecalho;
    }
  }

  .principal {
    color: $fonteCabecalho;
  }

  .cor-principal.numero-pedido {
    color: $fonteCabecalho;
  }
}
