// Raiz das cores
$extremelyDark: #1a1a1a;
$extremelyDarkRodape: #272214;
$extremelyDark70: #1a1405b2;
$extremelyDarkRgba: rgba(9, 8, 50, 0.1);

$corPrimaria: #531467;
$corSecundaria: #53ba63;
$botaoCard: #531467;
$branco: #fff;
$preto: #0c0833;

$inputBoxShadowColor: #0c08331a;
$borda: #d5d5db66;

$bordaMenuSuperior: #531467;
$corLiHover: #531467;

// ----Header-----

// cor de fundo e da letra da faixa do topo
$barraInicial: #531467;
$barraInicialFonte: #fff;

// cor de fundo cabecalho
$cabecalho: #fff;

// fontes cabecalho
$fonteCabecalho: #1a1a1a;
$fonteHoverCabecalho: #e29600;

// barra busca borda
$bordaBarraBusca: #525252;

// fundo qtd itens no carrinho
$qtdItensCarrinho: #1a1a1a;

// cores do menu nivel-dois
$fundoMenuNivelDois: #313131;
$fonteMenuNivelDois: #fff;
$hoverMenuNivelDois: $corPrimaria;

// cores textos fullbanner e button
$textoFullBanner: #fff;
$buttonFullBanner: #53ba63;
$corButtonFullBanner: #fff;

// footer
$fundoRodape: #1a1a1a;
$barraLogosRodape: #272727;

// Cor botao do banner Inferior
$buttonBannerInferior: #53ba63;
