// Raiz das cores
$extremelyDark : #1A1A1A;
$extremelyDarkRodape: #272214;
$extremelyDark70 : #1A1405B2;
$extremelyDarkRgba : rgba(9, 8, 50, 0.1);

$corPrimaria : #531467;
$corSecundaria: #53BA63;
$botaoCard: #531467;
$branco : #fff;
$preto : #0c0833;

$inputBoxShadowColor: #0c08331a;
$borda : #D5D5DB66;

$bordaMenuSuperior : #531467;
$corLiHover : #531467;

// ----Header-----

// cor de fundo e da letra da faixa do topo
$barraInicial: #531467;
$barraInicialFonte: #fff;

// cor de fundo cabecalho
$cabecalho: #fff;

// fontes cabecalho
$fonteCabecalho: #1A1A1A;
$fonteHoverCabecalho: #E29600;

// barra busca borda
$bordaBarraBusca : #525252;

// fundo qtd itens no carrinho
$qtdItensCarrinho: #1A1A1A;

// cores do menu nivel-dois
$fundoMenuNivelDois: #313131;
$fonteMenuNivelDois: #fff;
$hoverMenuNivelDois: $corPrimaria;

// footer
$fundoRodape: #1A1A1A;
$barraLogosRodape: #272727;



