@import url("https://use.typekit.net/ujl4yaw.css");

$fonteBase: 'Muli' !important;
$fonteSize  : 16px;
$fonteSlogan: 14px;

$tamanhoTituloListagem : 16px;
$tamanhoTituloCategoria: 30px;
$tamanhoPrecoListagem  : 25px;