////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// HOME
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SETAS FULL BANNER
$iconCarrinho: url(https://cdn.awsli.com.br/2256/2256296/arquivos/shop.svg);
$setasFullBanner: "https://cdn.awsli.com.br/2256/2256296/arquivos/icons8-less-than-32.png";

// Menu MObile
$setaCategorias: url(https://cdn.awsli.com.br/1595/1595002/arquivos/icon-seta_categorias.svg);

// inserir imagem na lista de variaveis
$iconClock: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-clock.svg);
$iconCadastrarHome: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-cadastrar-home.svg);
$iconRastrear: url(https://cdn.awsli.com.br/1595/1595002/arquivos/icon-endereco.svg);
$iconMeusPedidosHome: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-meus-pedidos-home.svg);

// PÁGINA LOGIN
$imagemAvatarLogin: "https://cdn.awsli.com.br/1595/1595002/arquivos/icon-user.svg";
$imagemAvatarCadastrar: "https://cdn.awsli.com.br/1595/1595002/arquivos/icon-adduser.svg";

// Seta Paginação
$setaPaginacao: url(https://cdn.awsli.com.br/1595/1595002/arquivos/Icon-Carousel-Arrow.svg);

// minha conta
$iconMinhaConta: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-dados.svg);
$iconAlterarSenha: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-key.svg);
$iconMeusPedidos: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-meus-pedidos.svg);
$iconListaDesejos: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-favoritos-conta.svg);
$iconEndereco: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-entrega-desktop.svg);
$iconLogout: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-exit.svg);

$iconFecharModal: url(https://cdn.awsli.com.br/2256/2256296/arquivos/icon-fechar.svg);
